Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@cologos 
cologos
/
CotCotFarm
Public
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
Insights
Settings
CotCotFarm/phpunit.xml
@cologos
cologos Phpstan corr (#8)
…
Latest commit 26ee885 6 days ago
 History
 1 contributor
26 lines (25 sloc)  946 Bytes

<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
You have unread notifications